resources/application.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
	<doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 1.17.1 02/28/2013 03:28 PM"/>
	<grammars>
		<include href="application.wadl/xsd0.xsd">
			<doc title="Generated" xml:lang="en"/>
		</include>
	</grammars>
	<resources base="http://10.20.178.25:14701/mcs/rest/">
		<resource path="/pabimport">
			<method id="getCurrentVersion" name="GET">
				<response>
					<representation mediaType="text/plain"/>
				</response>
			</method>
			<resource path="update-force">
				<method id="updateForce" name="GET">
					<response>
						<representation mediaType="text/plain"/>
					</response>
				</method>
			</resource>
			<resource path="update">
				<method id="update" name="GET">
					<response>
						<representation mediaType="text/plain"/>
					</response>
				</method>
			</resource>
		</resource>
		<resource path="/auditlog">
			<resource path="/voor-interval">
				<method id="findAuditLogs" name="POST">
					<request>
						<representation mediaType="*/*"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
		</resource>
		<resource path="/">
			<method id="getAllPosten" name="GET">
				<response>
					<representation mediaType="application/json"/>
				</response>
			</method>
			<resource path="indienststellingsoverzicht">
				<method id="getOverzicht" name="GET">
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="{post}">
				<param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="post" style="template" type="xs:string"/>
				<method id="getPost" name="GET">
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="levering">
				<method id="getLeveringen" name="GET">
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
				<resource path="steppingstone-update">
					<method id="steppingstoneUpdate" name="GET">
						<response>
							<representation mediaType="application/json"/>
						</response>
					</method>
				</resource>
				<resource path="all/import">
					<method id="importAll" name="GET">
						<response>
							<representation mediaType="application/json"/>
						</response>
					</method>
				</resource>
				<resource path="{id}">
					<param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="id" style="template" type="xs:long"/>
					<method id="getLevering" name="GET">
						<response>
							<representation mediaType="application/json"/>
						</response>
					</method>
					<method id="deleteLevering" name="DELETE"/>
				</resource>
				<resource path="{id}/import">
					<param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="id" style="template" type="xs:long"/>
					<method id="importLevering" name="POST"/>
				</resource>
			</resource>
			<resource path="{post}/{id}">
				<param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="post" style="template" type="xs:string"/>
				<param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="id" style="template" type="xs:string"/>
				<method id="getInfraVoorPost" name="GET">
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
				<method id="deleteConfiguratieInfo" name="DELETE"/>
				<resource path="herstel-meetpuntconfiguratie">
					<method id="copyInitialMeetpuntConfigFromPreviousLevering" name="POST"/>
				</resource>
				<resource path="kaart">
					<method id="getKaarten" name="GET">
						<response>
							<representation mediaType="application/json"/>
						</response>
					</method>
					<resource path="{name}">
						<param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="name" style="template" type="xs:string"/>
						<method id="getKaart" name="GET">
							<response>
								<representation mediaType="application/json"/>
							</response>
						</method>
					</resource>
				</resource>
				<resource path="{id}">
					<param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="id" style="template" type="xs:string"/>
					<method id="getMeetpuntConfig" name="GET">
						<response>
							<representation mediaType="application/json"/>
						</response>
					</method>
					<method id="deleteMeetpuntConfig" name="DELETE"/>
					<resource path="/publiceer">
						<method id="publiceer" name="POST">
							<request>
								<representation mediaType="*/*"/>
							</request>
						</method>
					</resource>
					<resource path="/nieuwconcept">
						<method id="createNieuwMeetpuntConfigConcept" name="POST">
							<response>
								<representation mediaType="application/json"/>
							</response>
						</method>
					</resource>
					<resource path="{id}">
						<param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="id" style="template" type="xs:string"/>
						<method id="getMeetpunt" name="GET">
							<response>
								<representation mediaType="application/json"/>
							</response>
						</method>
						<method id="saveMeetpunt" name="POST">
							<request>
								<representation mediaType="application/json"/>
							</request>
						</method>
					</resource>
				</resource>
			</resource>
		</resource>
	</resources>
</application>
